body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

h1 {
    color: white;
    text-align: center;
    line-height: 1.1;
    padding: 20px 0; 
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

#rgb {
    font-size: 200%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

#container {
    margin: 0 auto;
    max-width: 600px;    
}

.square {
    width: 30%;
    margin: 1.66%;
    background: purple;
    padding-bottom: 30%;
    float: left;    
}

.selected {
    background: blue;
}