@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

body {
    background-color: #fafafa;
    color: #181818; 
    font-family: 'Open Sans', sans-serif; 
}

h1, h2, h3 {
    font-family: 'Lato';
    text-align: center;
}

h1, h2 {
    text-transform: uppercase;
}

p, ul {
    line-height: 1.6em;
    font-size: 16px;
}

a {
    outline: none;
}

hr {
    border: 0;
    height: 2px;
    margin: 20px 0px;
    background-image: linear-gradient(to right, rgba(189, 195, 199, 0), rgba(189, 195, 199, 0.75), rgba(189, 195, 199, 0));
}

.container {
    width: 80%;
}

.blog {
  border: 20px solid #cae5ff;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgba(250, 250, 250, 0.9);
}

.blog h4 {
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.blogBackground {
    background: url(images/sakura1.jpg) repeat center;  
    background-size: 450px;
}
